tag(
        $color=$color-p,
        $radius=4px)
    ui-font()
    bg-color($color)
    display: inline-block
    text-align: center
    border-radius: $radius
    padding: 0.2em 0.4em
    min-width: 1.2em
