.arrow-top, [data-is="arrow-top"]
    box-arrow($arrow="top")

.arrow-right, [data-is="arrow-right"]
    box-arrow($arrow="right")

.arrow-bottom, [data-is="arrow-bottom"]
    box-arrow($arrow="bottom")

.arrow-left, [data-is="arrow-left"]
    box-arrow($arrow="left")
