file()
    ui-font()
    position: relative
    display: inline-block
    cursor: pointer
    input[type="file"]
        position: absolute
        display: none
        top: 0
        left: 0
        height: 0
        width: 0
