button, .button, [data-is="button"], input[type="button"]
    button()

button-pin, .button-pin, [data-is="button-pin"]
    button-pin()

button-square, .button-square, [data-is="button-square"]
    button-square()
