// @require '_color'

$color-primary = deep-orange
$color-complement = $color-primary + 180deg
$color-analog-left = $color-primary - 30deg
$color-analog-right = $color-primary + 30deg
$color-triadic-left = $color-primary - 150deg
$color-triadic-right = $color-primary + 150deg

$color-p = $color-primary
$color-c = $color-complement
$color-a1 = $color-analog-left
$color-a2 = $color-analog-right
$color-t1 = $color-triadic-left
$color-t2 = $color-triadic-right
