// @require '_color-scheme'

$badge-color = $color-primary

$button-color = $color-primary

$checkbox-color-active = $color-primary
$checkbox-color-hover = lighten($color-primary, 20%)

$progress-color = $color-primary

$radio-color-hover = lighten($color-primary, 20%)
$radio-color-active = $color-primary

$radio-btn-color-hover = lighten($color-primary, 20%)
$radio-btn-color-active = $color-primary

$switch-color-active = $color-primary

$tag-color = $color-primary

$slider-thumb-color = lighten(grey, 80%)
$slider-thumb-color-active = $color-primary
$slider-bar-color = lighten(grey, 50%)

$border-radius = 0.2em
