html
    font-size: 16px
    line-height: 1.5

h1
    font-size: 40px
    margin: 0
h2
    font-size: 30px
    margin: 0
h3
    font-size: 24px
    margin: 0
h4
    font-size: 20px
    margin: 0
h5
    font-size: 18px
    margin: 0
h6
    font-size: 16px
    margin: 0

blockquote
    margin-left: 2rem
    padding-left: 1rem
    border-left: 4px solid $color-complement
