.red
    color: red
.bg-red
    bg-color(red)
.pink
    color: pink
.bg-pink
    bg-color(pink)
.purple
    color: purple
.bg-purple
    bg-color(purple)
.deep-purple
    color: deep-purple
.bg-deep-purple
    bg-color(deep-purple)
.indigo
    color: indigo
.bg-indigo
    bg-color(indigo)
.blue
    color: blue
.bg-blue
    bg-color(blue)
.light-blue
    color: light-blue
.bg-light-blue
    bg-color(light-blue)
.cyan
    color: cyan
.bg-cyan
    bg-color(cyan)
.teal
    color: teal
.bg-teal
    bg-color(teal)
.green
    color: green
.bg-green
    bg-color(green)
.light-green
    color: light-green
.bg-light-green
    bg-color(light-green)
.lime
    color: lime
.bg-lime
    bg-color(lime)
.yellow
    color: yellow
.bg-yellow
    bg-color(yellow)
.amber
    color: amber
.bg-amber
    bg-color(amber)
.orange
    color: orange
.bg-orange
    bg-color(orange)
.deep-orange
    color: deep-orange
.bg-deep-orange
    bg-color(deep-orange)
.brown
    color: brown
.bg-brown
    bg-color(brown)
.grey, .gray
    color: grey
.bg-grey, .bg-gray
    bg-color(grey)
.blue-grey, .blue-gray
    color: blue-grey
.bg-blue-grey, .bg-blue-gray
    bg-color(blue-grey)

.bg-white
    bg-color(white)
    &.d1
        bg-color(darken(white, 10%))
    &.d2
        bg-color(darken(white, 20%))
    &.d3
        bg-color(darken(white, 30%))
    &.d4
        bg-color(darken(white, 40%))
    &.d5
        bg-color(darken(white, 50%))

.bg-black
    bg-color(black)
    &.l1
        bg-color(lighten(black, 10%))
    &.l2
        bg-color(lighten(black, 20%))
    &.l3
        bg-color(lighten(black, 30%))
    &.l4
        bg-color(lighten(black, 40%))
    &.l5
        bg-color(lighten(black, 50%))

.color-primary, .color-p
    color: $color-primary
    &.l1
        color: lighten(@color, 20%)
    &.l2
        color: lighten(@color, 40%)
    &.l3
        color: lighten(@color, 60%)
    &.l4
        color: lighten(@color, 80%)
    &.d1
        color: darken(@color, 20%)
    &.d2
        color: darken(@color, 40%)
    &.d3
        color: darken(@color, 60%)
    &.d4
        color: darken(@color, 80%)
.bg-primary, .bg-p
    bg-color($color-primary)
    &.l1
        bg-color(lighten($color-primary, 20%))
    &.l2
        bg-color(lighten($color-primary, 40%))
    &.l3
        bg-color(lighten($color-primary, 60%))
    &.l4
        bg-color(lighten($color-primary, 80%))
    &.d1
        bg-color(darken($color-primary, 20%))
    &.d2
        bg-color(darken($color-primary, 40%))
    &.d3
        bg-color(darken($color-primary, 60%))
    &.d4
        bg-color(darken($color-primary, 80%))

.color-complement, .color-c
    color: $color-complement
.bg-complement, .bg-c
    bg-color($color-complement)
.color-analog-left, .color-a1
    color: $color-analog-left
.bg-analog-left, .bg-a1
    bg-color($color-analog-left)
.color-analog-right, .color-a2
    color: $color-analog-right
.bg-analog-right, .bg-a2
    bg-color($color-analog-right)
.color-triadic-left, .color-t1
    color: $color-triadic-left
.bg-triadic-left, .bg-t1
    bg-color($color-triadic-left)
.color-triadic-right, .color-t2
    color: $color-triadic-right
.bg-triadic-right, .bg-t2
    bg-color($color-triadic-right)

.border-top-radius
    border-top-radius()

.border-right-radius
    border-right-radius()

.border-bottom-radius
    border-bottom-radius()

.border-left-radius
    border-left-radius()

.lift-1
    lift-1()
.lift-2
    lift-2()
.lift-3
    lift-3()
.lift-4
    lift-4()
.lift-5
    lift-5()
