.adwaita {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.alarm {
  width: 0.9990234375em;
}

.application-x-firmware {
  width: 1.0009765625em;
}

.audio-speakers {
  width: 0.99609375em;
}

.audio-volume-overamplified {
  width: 0.9990234375em;
}

.colorimeter-colorhug {
  width: 0.9990234375em;
}

.edit-select-all {
  width: 1.001953125em;
}

.find-location {
  width: 0.998046875em;
}

.focus-top-bar {
  width: 1.001953125em;
}

.folder-download {
  width: 1.0009765625em;
}

.folder-drag-accept {
  width: 1.0009765625em;
}

.folder-pictures {
  width: 1.001953125em;
}

.go-home {
  width: 1.0009765625em;
}

.input-mouse {
  width: 0.9990234375em;
}

.insert-link {
  width: 1.0009765625em;
}

.network-wired-acquiring {
  width: 1.0029296875em;
}

.network-wired-no-route {
  width: 1.0029296875em;
}

.orientation-portrait {
  width: 1.0029296875em;
}

.orientation-portrait-inverse {
  width: 1.0029296875em;
}

.preferences-desktop-accessibility {
  width: 1.0009765625em;
}

.rotation-allowed {
  width: 0.9970703125em;
}

.rotation-locked {
  width: 0.9990234375em;
}

.system-reboot {
  width: 0.9990234375em;
}

.system-shutdown {
  width: 0.9990234375em;
}

.tab-new {
  width: 1.0009765625em;
}

.user-home {
  width: 1.0009765625em;
}

.weather-fog {
  width: 1.0009765625em;
}

.weather-windy {
  width: 1.0009765625em;
}

.zoom-fit-best {
  width: 0.9990234375em;
}

.zoom-in {
  width: 0.9990234375em;
}

.zoom-original {
  width: 0.9990234375em;
}

.zoom-out {
  width: 0.9990234375em;
}
