.adwaita {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.alarm {
  width: 0.9951171875em;
}

.bluetooth-active {
  width: 0.998046875em;
}

.folder-open {
  width: 1.001953125em;
}

.network-wired-acquiring {
  width: 1.0029296875em;
}

.network-wired-no-route {
  width: 1.0029296875em;
}

.orientation-portrait {
  width: 1.0029296875em;
}

.orientation-portrait-inverse {
  width: 1.0029296875em;
}

.rotation-allowed {
  width: 0.9970703125em;
}

.rotation-locked {
  width: 0.9990234375em;
}

.weather-windy {
  width: 1.0009765625em;
}

.folder {
  width: 1.001953125em;
}

.folder-remote {
  width: 1.0009765625em;
}

.user-home {
  width: 1.0009765625em;
}

.audio-volume-overamplified {
  width: 0.9990234375em;
}

.colorimeter-colorhug {
  width: 0.9990234375em;
}

.drive-harddisk-system {
  width: 0.875em;
}

.input-mouse {
  width: 0.9990234375em;
}

.input-tablet {
  width: 1.033203125em;
}

.accessories-text-editor {
  width: 0.9990234375em;
}

.bluetooth {
  width: 0.998046875em;
}

.document-properties {
  width: 0.9990234375em;
}

.edit-cut {
  width: 0.9990234375em;
}

.edit-select-all {
  width: 1.001953125em;
}

.find-location {
  width: 0.998046875em;
}

.focus-top-bar {
  width: 1.001953125em;
}

.go-home {
  width: 1.0009765625em;
}

.insert-link {
  width: 1.0009765625em;
}

.system-shutdown {
  width: 0.998046875em;
}

.tab-new {
  width: 1.001953125em;
}

.view-mirror {
  width: 1.001953125em;
}

.view-restore {
  width: 1.00390625em;
}

.zoom-fit-best {
  width: 0.9990234375em;
}

.zoom-in {
  width: 0.9990234375em;
}

.zoom-original {
  width: 0.9990234375em;
}

.zoom-out {
  width: 0.9990234375em;
}
