path()
    list-style: none
    padding: 0
    margin: 0
    li
        display: inline
    li+li:before
        content: "/ "

    li a
        color: grey
        padding: 0 0.3em
        cursor: pointer
    li a:hover
        color: black
        border-bottom: 0.1em solid grey

    li:last-of-type a
        color: black
