button-group, .button-group, [data-is="button-group"]
    display: flex
    button, .button, [data-is="button"]
        width: 100%
        border-radius: 0
        &:first-of-type
            border-right-radius(0)
            border-left-radius($border-radius)
        &:last-of-type
            border-left-radius(0)
            border-right-radius($border-radius)

    radio-btn
        &:first-of-type
            button
                border-right-radius(0)
                border-left-radius($border-radius)
        &:last-of-type
            button
                border-left-radius(0)
                border-right-radius($border-radius)
