card, [data-is="card"], .card
    lift-2()
    border-radius: $border-radius
    > h1, > h2, > h3
        padding: 0.5rem 1rem
        margin: 0
    > p
        padding: 1rem
        margin: 0
    > button:last-of-type
        border-top-radius(0)
        width: 100%
    > button-group, > .button-group, > [data-is="button-group"]
        &:last-of-type
            border-top 1px solid grey
        > button, > .button, > [data-is="button"]
            &:first-of-type
                border-top-left-radius: 0
            &:last-of-type
                border-top-right-radius: 0
